.intro-section {
  padding: 80px 60px;
}


.intro-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}


.intro-line {
  width: 100%;
  height: 1px;
  background: #d1d5db;
  margin-bottom: 30px;
}


.intro-left p {
  font-size: 20px;
  line-height: 1.7;
  color: #555;
}


.intro-right p {
  font-size: 28px;
  line-height: 1.4;
  font-weight: 700;
  color: #111;
  margin-top: 31px;
}